<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWYW9GdFh5CRXkexTccstqRzFFrRzMszo</string>
	<key>GCM_SENDER_ID</key>
	<string>590767930512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DRP.Gigma</string>
	<key>PROJECT_ID</key>
	<string>organised-festivals</string>
	<key>STORAGE_BUCKET</key>
	<string>organised-festivals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:590767930512:ios:e79ad7b2b51bcfa53cac15</string>
	<key>DATABASE_URL</key>
	<string>https://organised-festivals-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
